:root {
  /* Colors — Primary */
  --color-primary: #0068d6;
  --color-secondary: #52aeff;
  --color-accent: #0070f3;

  /* Colors — Neutrals */
  --color-neutral-50: #171717;
  --color-neutral-100: #ebebeb;
  --color-neutral-200: #4d4d4d;
  --color-neutral-300: #ffffff;
  --color-neutral-400: #666666;
  --color-neutral-500: #000000;
  --color-neutral-600: #7d7d7d;
  --color-neutral-700: #a8a8a8;
  --color-neutral-800: #8f8f8f;
  --color-neutral-900: #ebf5ff;

  /* Colors — Backgrounds */
  --color-bg: #fafafa;
  --color-bg-1: #ffffff;

  /* Colors — Text */
  --color-text: #171717;
  --color-text-1: #0072f5;
  --color-text-2: #4d4d4d;
  --color-text-3: #ffffff;
  --color-text-4: #0068d6;

  /* Typography — Families */
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', sans-serif;

  /* Typography — Scale */
  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-13: 13px;
  --font-size-12: 12px;
  --font-size-9.5: 9.5px;
  --font-size-8: 8px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-85: 85px;
  --spacing-90: 90px;
  --spacing-96: 96px;
  --spacing-135: 135px;
  --spacing-144: 144px;
  --spacing-161: 161px;

  /* Border Radius */
  --radius-xs: 2px;
  --radius-sm: 5px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 32px;
  --radius-full: 50px;
  --radius-full: 64px;
  --radius-full: 99px;
  --radius-full: 9999px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px 2px, rgb(0, 114, 245) 0px 0px 0px 4px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(235, 235, 235) 0px 0px 0px 1px;
  --shadow-sm: rgb(235, 235, 235) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgb(250, 250, 250) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgb(250, 250, 250) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgb(250, 250, 250) 0px 0px 0px 1px;
  --shadow-sm: rgb(235, 235, 235) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(0, 0, 0, 0.04) 0px 4px 8px 0px, rgb(250, 250, 250) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 1px;
  --shadow-xs: rgb(234, 234, 234) 0px -1px 0px 0px inset;
  --shadow-xs: rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px;

  /* Original Site Variables */
  /* — colors — */
  --ds-shadow-border-large: 0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0px 8px 16px -4px #0000000a, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --color-orange-600: lab(57.1026% 64.2584 89.8886);
  --geist-console-text-color-default: #000;
  --tw-inset-ring-shadow: 0 0 #0000;
  --geist-secondary-lighter: #eaeaea;
  --header-border-bottom: 0 1px 0 0 #0000001a;
  --geist-secondary-dark: #333;
  --ds-focus-ring: 0 0 0 2px hsla(0, 0%, 100%, 1), 0 0 0 4px hsla(212, 100%, 48%, 1);
  --accents-3: #999;
  --geist-selection-text-color: hsla(0, 0%, 95%, 1);
  --accents-8: #111;
  --color-zinc-900: lab(8.30603% .618205 -2.16572);
  --accents-2: #eaeaea;
  --color-gray-950: lab(1.90334% .278696 -5.48866);
  --ds-shadow-border-small: 0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --color-blue-50: lab(96.492% -1.14644 -5.11479);
  --color-violet-50: lab(96.2416% 2.28849 -5.51657);
  --tw-ring-shadow: 0 0 #0000;
  --color-yellow-600: lab(62.7799% 22.4197 86.1544);
  --ds-shadow-background-border: 0 0 0 1px hsla(0, 0%, 98%, 1);
  --geist-foreground-rgb: 0, 0, 0;
  --geist-console-text-color-blue: #0070f3;
  --tw-ring-offset-width: 0px;
  --accents-4: #888;
  --color-violet-700: lab(35.2783% 67.9912 -88.793);
  --tw-ring-offset-shadow: 0 0 #0000;
  --geist-secondary-light: #999;
  --ds-motion-popover-timing: cubic-bezier(.175, .885, .32, 1.1);
  --color-violet-100: lab(93.0838% 4.35197 -9.88284);
  --ds-motion-popover-duration: .2s;
  --ds-shadow-border-medium: 0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0px 8px 8px -8px #0000000a, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --color-zinc-100: lab(96.1634% .0993311 -.364041);
  --color-slate-500: lab(48.0876% -2.03595 -16.5814);
  --accents-6: #444;
  --color-slate-300: lab(84.7652% -1.94535 -7.93337);
  --ds-shadow-border: 0 0 0 1px #00000014, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --color-neutral-700: lab(27.036% 0 0);
  --geist-violet-background-secondary: #291c3a;
  --ds-overlay-backdrop-color: hsla(0, 0%, 98%, 1);
  --ds-shadow-border-base: 0 0 0 1px #00000014;
  --ds-shadow-border-inset: inset 0 0 0 1px #00000014;
  --color-zinc-600: lab(35.1166% 1.78212 -6.1173);
  --tw-border-style: solid;
  --animate-fadeOutPopover: fadeOut cubic-bezier(.175, .885, .32, 1.1) .2s;
  --ds-focus-color: hsla(212, 100%, 48%, 1);
  --accents-7: #333;
  --color-gray-50: lab(98.2596% -.247031 -.706708);
  --geist-console-text-color-purple: #7928ca;
  --tw-ring-offset-color: #fff;
  --geist-console-text-color-pink: #eb367f;
  --accents-1: #fafafa;
  --color-indigo-600: lab(38.4009% 52.6132 -92.3857);
  --geist-secondary: #666;
  --ds-focus-border: 0 0 0 1px #00000057, 0px 0px 0px 4px #00000029;
  --accents-5: #666;
  --geist-foreground: #000;
  --color-red-50: lab(96.5005% 4.18508 1.52328);
  --color-gray-200: hsla(0, 0%, 92%, 1);
  --next-icon-border: #000;
  --geist-link-color: hsla(212, 100%, 48%, 1);
  --color-neutral-800: lab(15.204% 0 -.00000596046);
  --color-amber-50: lab(98.6252% -.635922 8.42309);
  /* — spacing — */
  --geist-space-64x: 256px;
  --geist-space-small-negative: -32px;
  --tw-space-x-reverse: 0;
  --spacing-fluid-24-40: clamp(1.5rem, -.2143rem + 2.8571vi, 2.5rem);
  --geist-space-16x: 64px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-half-negative: -12px;
  --geist-gap-half: 12px;
  --geist-space-24x: 96px;
  --spacing-fluid-16-24: clamp(1rem, .1429rem + 1.4286vi, 1.5rem);
  --geist-space-2x-negative: -8px;
  --geist-space-gap-quarter-negative: -8px;
  --geist-space-large: 48px;
  --geist-gap-half-negative: -12px;
  --geist-space-32x-negative: -128px;
  --tw-space-y-reverse: 0;
  --geist-space-8x-negative: -32px;
  --geist-gap-quarter: 8px;
  --geist-space-3x: 12px;
  --geist-gap-quarter-negative: -8px;
  --geist-space-small: 32px;
  --geist-gap: 24px;
  --geist-space-48x-negative: -192px;
  --font-space-grotesk: Space Grotesk, "Geist", Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --geist-space-negative: -4px;
  --ds-page-width-with-margin: calc(1400px + calc(2 * 24px));
  --geist-page-width-with-margin: calc(1200px + calc(2 * 24px));
  --geist-gap-double: 48px;
  --geist-space-16x-negative: -64px;
  --geist-space-gap: 24px;
  --geist-space-gap-negative: -24px;
  --geist-space-4x: 16px;
  --geist-space-medium: 40px;
  --geist-space-gap-quarter: 8px;
  --geist-space-24x-negative: -96px;
  --geist-space-48x: 192px;
  --geist-gap-section: 32px;
  --spacing: .25rem;
  --geist-space-gap-half: 12px;
  --spacing-fluid-20-24: clamp(1.25rem, .8214rem + .7143vi, 1.5rem);
  --geist-space: 4px;
  --geist-gap-negative: -24px;
  --geist-space-32x: 128px;
  --geist-gap-double-negative: -48px;
  --geist-page-margin: 24px;
  --geist-space-6x: 24px;
  --geist-space-8x: 32px;
  --geist-space-4x-negative: -16px;
  --geist-space-64x-negative: -256px;
  --spacing-fluid-20-32: clamp(1.25rem, -.0357rem + 2.1429vi, 2rem);
  --geist-space-10x: 40px;
  --geist-space-medium-negative: -40px;
  --geist-space-2x: 8px;
  /* — typography — */
  --font-sans: "Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Geist Mono", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  --ship-text: #ff5b4f;
  --text-base--line-height: calc(1.5 / 1);
  --tracking-wider: .05em;
  --text-fluid-24-32: clamp(1.5rem, .6429rem + 1.4286vi, 2rem);
  --text-fluid-24-28: clamp(1.5rem, 1.0714rem + .7143vi, 1.75rem);
  --text-fluid-16-28: clamp(1rem, -.2857rem + 2.1429vi, 1.75rem);
  --text-sm: .875rem;
  --geist-form-small-font: .875rem;
  --font-weight-thin: 100;
  --geist-form-large-font: 1rem;
  --text-fluid-14-24: clamp(.875rem, -.1964rem + 1.7857vi, 1.5rem);
  --text-lg: 1.125rem;
  --geist-form-small-line-height: .875rem;
  --text-fluid-18-24: clamp(1.125rem, .4821rem + 1.0714vi, 1.5rem);
  --default-font-family: "Geist", Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --tracking-tighter: -.05em;
  --develop-text: #0a72ef;
  --text-fluid-14-20: clamp(.875rem, .2321rem + 1.0714vi, 1.25rem);
  --font-weight-extrabold: 800;
  --text-sm--line-height: calc(1.25 / .875);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-3xl: 1.875rem;
  --text-xs: .75rem;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-sans-fallback: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --text-base: 1rem;
  --default-mono-font-family: "Geist Mono", ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --preview-text: #de1d8d;
  --text-fluid-32-64: clamp(2rem, -1.4286rem + 5.7143vi, 4rem);
  --geist-text-gradient: linear-gradient(180deg, #000c 0%, #000 100%);
  --text-fluid-64-128: clamp(4rem, -2.8571rem + 11.4286vi, 8rem);
  --text-fluid-20-28: clamp(1.25rem, .3929rem + 1.4286vi, 1.75rem);
  --font-weight-bold: 700;
  --text-xs--line-height: calc(1 / .75);
  --text-fluid-20-32: clamp(1.25rem, -.0357rem + 2.1429vi, 2rem);
  --text-xl: 1.25rem;
  --leading-relaxed: 1.625;
  --geist-form-line-height: 1.25rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-xl--line-height: calc(1.75 / 1.25);
  --font-mono-fallback: "Roboto Mono", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  --geist-form-font: .875rem;
  --leading-tight: 1.25;
  --text-fluid-20-80: clamp(1.25rem, -5.1786rem + 10.7143vi, 5rem);
  --geist-form-large-line-height: 1.5rem;
  --text-fluid-14-16: clamp(.875rem, .6607rem + .3571vi, 1rem);
  --tracking-tight: -.025em;
  --text-2xl: 1.5rem;
  --text-fluid-16-20: clamp(1rem, .5714rem + .7143vi, 1.25rem);
  --text-fluid-32-80: clamp(2rem, -3.1429rem + 8.5714vi, 5rem);
  --text-5xl--line-height: 1;
  --leading-normal: 1.5;
  --text-lg--line-height: calc(1.75 / 1.125);
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-pixel-square: ;
  --tracking-normal: 0em;
  --text-5xl: 3rem;
  /* — shadows — */
  --tw-inset-shadow: 0 0 #0000;
  --dropdown-box-shadow: 0 4px 4px 0 #00000005;
  --tw-shadow-alpha: 100%;
  --ds-shadow-large: 0px 2px 2px #0000000a, 0px 8px 16px -4px #0000000a;
  --shadow-sticky: 0 12px 10px -10px #0000001f;
  --tw-drop-shadow-alpha: 100%;
  --shadow-large: 0 30px 60px #0000001f;
  --ds-shadow-small: 0px 2px 2px #0000000a;
  --shadow-medium: 0 8px 30px #0000001f;
  --ds-shadow-xl: 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a, 0px 16px 24px -8px #0000000f;
  --ds-shadow-modal: 0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a, 0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-medium: 0px 2px 2px #0000000a, 0px 8px 8px -8px #0000000a;
  --tw-shadow: 0 0 #0000;
  --shadow-hover: 0 30px 60px #0000001f;
  --tw-inset-shadow-alpha: 100%;
  --ds-shadow-2xl: 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a, 0px 24px 32px -8px #0000000f;
  --drop-shadow-lg: 0 4px 4px #00000026;
  --shadow-smallest: 0px 2px 4px #0000001a;
  --ds-shadow-tooltip: 0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 4px 8px #0000000a, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-xs: 0px 1px 2px #0000000a;
  --ds-shadow-2xs: 0px 1px 1px #0000000a;
  --shadow-small: 0 5px 10px #0000001f;
  --ds-shadow-fullscreen: 0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a, 0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --shadow-extra-small: 0px 4px 8px #0000001f;
  --ds-shadow-menu: 0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a, 0px 16px 24px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  /* — radii — */
  --geist-radius: 6px;
  --geist-marketing-radius: 8px;
  --radius-3xl: 1.5rem;
  /* — other — */
  --banner-min-height: 64px;
  --blur-lg: 16px;
  --geist-cyan-lighter: #aaffec;
  --ds-amber-700: hsla(39, 100%, 57%, 1);
  --ds-pink-300-value: 340, 82%, 94%;
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --geist-error: #e00;
  --ds-amber-900: hsla(30, 100%, 32%, 1);
  --ds-green-200: hsla(120, 60%, 95%, 1);
  --tw-enter-scale: 1;
  --ds-red-800-value: 358, 70%, 52%;
  --geist-violet-lighter: #d8ccf1;
  --ds-green-1000: hsla(128, 29%, 15%, 1);
  --ds-red-1000: hsla(355, 49%, 15%, 1);
  --wv-orange: #ffa400;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-gray-alpha-600: #00000057;
  --animate-cmdkScaleIn: cmdkScaleIn .3s cubic-bezier(.175, .885, .32, 1.1);
  --ds-pink-300: hsla(340, 82%, 94%, 1);
  --develop-start-gradient: #007cf0;
  --geist-violet-background-tertiary: #eae5f4;
  --ds-gray-alpha-100: #0000000d;
  --ds-teal-700-value: 173, 80%, 36%;
  --tw-exit-translate-y: 0;
  --ds-blue-1000: hsla(211, 100%, 15%, 1);
  --tw-gradient-to-position: 100%;
  --animate-sandbox-left-reverse: sandbox-left-reverse .5s ease-in-out forwards;
  --ds-amber-600: hsla(36, 90%, 62%, 1);
  --ds-white: lab(100% 0 0);
  --ds-background-200: hsla(0, 0%, 98%, 1);
  --ds-red-500-value: 0, 82%, 85%;
  --dropdown-triangle-stroke: #fff;
  --ds-blue-400: hsla(209, 100%, 90%, 1);
  --animate-flip-front: flip-front .5s cubic-bezier(.4, .04, .04, 1) forwards;
  --ds-teal-700: hsla(173, 80%, 36%, 1);
  --ds-green-800: hsla(132, 43%, 39%, 1);
  --ds-red-200: hsla(0, 100%, 96%, 1);
  --geist-highlight-magenta: #eb367f;
  --ds-purple-1000: hsla(276, 100%, 15%, 1);
  --vh100-offset: calc(64px + 0px);
  --ds-green-100-value: 120, 60%, 96%;
  --ds-gray-500: hsla(0, 0%, 79%, 1);
  --scroller-start: #fff;
  --vaul-overlay-background-end: #0006;
  --ds-purple-800: hsla(272, 47%, 45%, 1);
  --ds-purple-300: hsla(274, 78%, 95%, 1);
  --ds-amber-500: hsla(38, 100%, 71%, 1);
  --tw-scale-y: 1;
  --animate-cmdkFadeIn: cmdkFadeIn .3s cubic-bezier(.175, .885, .32, 1.1);
  --scroller-end: #fff0;
  --ds-red-700-value: 358, 75%, 59%;
  --geist-background-rgb: 255, 255, 255;
  --tw-exit-translate-x: 0;
  --ds-blue-1000-value: 211, 100%, 15%;
  --ds-pink-500-value: 340, 75%, 84%;
  --ds-blue-200-value: 210, 100%, 96%;
  --header-zindex: 75;
  --ds-gray-500-value: 0, 0%, 79%;
  --animate-blue-glow: blue-glow 3s ease-in-out infinite;
  --ds-blue-100: hsla(212, 100%, 97%, 1);
  --ds-gray-700: hsla(0, 0%, 56%, 1);
  --ds-teal-800-value: 173, 83%, 30%;
  --animate-sandbox-left: sandbox-left .5s ease-in-out forwards;
  --ds-amber-700-value: 39, 100%, 57%;
  --animate-dialogFadeIn: ;
  --ds-teal-200-value: 167, 70%, 94%;
  --ds-purple-400-value: 276, 71%, 92%;
  --ds-contrast-fg: #fff;
  --tw-enter-blur: 0;
  --ds-amber-1000-value: 20, 79%, 17%;
  --animate-cmdkScaleOut: cmdkScaleOut .3s cubic-bezier(.175, .885, .32, 1.1);
  --ds-red-700: hsla(358, 75%, 59%, 1);
  --container-xl: 1200px;
  --geist-highlight-purple: #f81ce5;
  --ds-red-400-value: 0, 90%, 92%;
  --ds-teal-500: hsla(170, 70%, 72%, 1);
  --geist-code: #000;
  --ds-gray-1000-value: 0, 0%, 9%;
  --ds-teal-1000-value: 171, 80%, 13%;
  --ds-blue-800-value: 212, 100%, 41%;
  --geist-warning-lighter: #ffefcf;
  --tw-animation-direction: normal;
  --ds-blue-400-value: 209, 100%, 90%;
  --ds-pink-900-value: 336, 65%, 45%;
  --animate-feedbackFadeIn: feedbackFadeIn .1s cubic-bezier(.16, 1, .3, 1);
  --geist-page-width: 1200px;
  --ds-purple-100: hsla(276, 100%, 97%, 1);
  --ds-gray-200-value: 0, 0%, 92%;
  --ds-red-500: hsla(0, 82%, 85%, 1);
  --tw-divide-x-reverse: 0;
  --ds-blue-600-value: 208, 100%, 66%;
  --animate-slide-in: slide-in 1.25s cubic-bezier(.4, .04, .04, 1) forwards;
  --preview-end-gradient: #ff0080;
  --tw-exit-rotate: 0;
  --develop-end-gradient: #00dfd8;
  --ds-purple-600-value: 273, 72%, 73%;
  --ds-purple-300-value: 274, 78%, 95%;
  --ds-blue-700: hsla(212, 100%, 48%, 1);
  --ds-amber-600-value: 36, 90%, 62%;
  --container-sm: 401px;
  --ds-green-100: hsla(120, 60%, 96%, 1);
  --animate-feedbackAppear: feedbackAppear .5s .1s ease forwards;
  --ds-gray-alpha-800: #00000082;
  --animate-loading-skeleton: loading-skeleton 1.5s ease-in-out infinite reverse;
  --ds-gray-900-value: 0, 0%, 30%;
  --header-sub-menu-height: 46px;
  --ds-gray-200: hsla(0, 0%, 92%, 1);
  --ds-overlay-backdrop-opacity: .8;
  --ds-blue-500-value: 209, 100%, 80%;
  --animate-flip-back: flip-back .5s cubic-bezier(.4, .04, .04, 1) forwards;
  --ds-green-700: hsla(131, 41%, 46%, 1);
  --ds-amber-100-value: 39, 100%, 95%;
  --ds-pink-200: hsla(340, 90%, 96%, 1);
  --tw-gradient-from-position: 0%;
  --ds-pink-700: hsla(336, 80%, 58%, 1);
  --ds-blue-300: hsla(210, 100%, 94%, 1);
  --ds-gray-700-value: 0, 0%, 56%;
  --wv-green: #0cce6b;
  --ds-gray-alpha-700: #00000070;
  --ds-gray-300-value: 0, 0%, 90%;
  --ds-pink-1000: hsla(333, 74%, 15%, 1);
  --ds-red-300-value: 0, 100%, 95%;
  --ds-gray-alpha-400: #00000014;
  --animate-thinking-loader-fast: thinking-loader .85s linear infinite;
  --geist-console-purple: #7928ca;
  --ds-purple-900-value: 274, 71%, 43%;
  --ds-gray-400-value: 0, 0%, 92%;
  --tw-animation-fill-mode: none;
  --tw-exit-blur: 0;
  --animate-feedbackFadeOut: feedbackFadeOut .2s cubic-bezier(.16, 1, .3, 1) forwards;
  --ds-pink-500: hsla(340, 75%, 84%, 1);
  --ds-red-900-value: 358, 66%, 48%;
  --ds-pink-100-value: 330, 100%, 96%;
  --geist-highlight-pink: #ff0080;
  --geist-cyan-light: #79ffe1;
  --ds-green-600: hsla(125, 60%, 64%, 1);
  --ds-red-1000-value: 355, 49%, 15%;
  --vaul-overlay-background-start: #0000;
  --geist-cyan: #50e3c2;
  --ds-green-900: hsla(133, 50%, 32%, 1);
  --ds-pink-900: hsla(336, 65%, 45%, 1);
  --tw-enter-translate-x: 0;
  --container-4xl: 56rem;
  --ds-purple-1000-value: 276, 100%, 15%;
  --ds-amber-800: hsla(35, 100%, 52%, 1);
  --ds-green-700-value: 131, 41%, 46%;
  --preview-line-end: #9a1fb8;
  --ds-amber-400-value: 42, 100%, 78%;
  --ds-gray-alpha-500: #00000036;
  --ds-green-300: hsla(120, 60%, 91%, 1);
  --animate-fadeInTooltipFaster: fadeInTooltip .1s ease-in .1s forwards;
  --ds-green-300-value: 120, 60%, 91%;
  --ds-blue-900: hsla(211, 100%, 42%, 1);
  --ds-gray-600: hsla(0, 0%, 66%, 1);
  --ds-purple-500: hsla(274, 70%, 82%, 1);
  --ds-pink-800: hsla(336, 74%, 51%, 1);
  --ds-green-400: hsla(122, 60%, 86%, 1);
  --ds-blue-500: hsla(209, 100%, 80%, 1);
  --ds-green-900-value: 133, 50%, 32%;
  --animate-blink: blink 1s infinite;
  --ds-amber-300-value: 43, 96%, 90%;
  --ds-amber-400: hsla(42, 100%, 78%, 1);
  --tw-enter-opacity: 1;
  --ds-motion-overlay-scale: .96;
  --geist-form-height: 40px;
  --container-md: 601px;
  --header-height: 64px;
  --aspect-video: 16 / 9;
  --ds-teal-100: hsla(169, 70%, 96%, 1);
  --ds-green-1000-value: 128, 29%, 15%;
  --develop-line-end: #019ae9;
  --ds-blue-600: hsla(208, 100%, 66%, 1);
  --animate-loading: loading 8s ease-in-out infinite;
  --tw-animation-delay: 0s;
  --animate-marquee: marquee 40s linear infinite;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-amber-500-value: 38, 100%, 71%;
  --geist-success-light: #3291ff;
  --tw-outline-style: solid;
  --geist-warning-light: #f7b955;
  --geist-cyan-dark: #29bc9b;
  --geist-success-dark: #0761d1;
  --geist-form-small-height: 32px;
  --header-import-flow-background: #fafafacc;
  --ds-black: lab(0% 0 0);
  --ds-pink-200-value: 340, 90%, 96%;
  --ds-blue-200: hsla(210, 100%, 96%, 1);
  --tw-gradient-from: rgba(0, 0, 0, 0);
  --tw-gradient-to: rgba(0, 0, 0, 0);
  --ds-pink-600: hsla(341, 75%, 73%, 1);
  --ds-gray-800: hsla(0, 0%, 49%, 1);
  --geist-violet-light: #8a63d2;
  --ds-teal-1000: hsla(171, 80%, 13%, 1);
  --ds-gray-300: hsla(0, 0%, 90%, 1);
  --ds-purple-600: hsla(273, 72%, 73%, 1);
  --tw-gradient-via-position: 50%;
  --ds-amber-1000: hsla(20, 79%, 17%, 1);
  --ds-amber-200: hsla(44, 100%, 92%, 1);
  --ds-teal-300-value: 168, 70%, 90%;
  --default-transition-duration: .15s;
  --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  --ds-pink-700-value: 336, 80%, 58%;
  --container-xs: 20rem;
  --ds-gray-1000: hsla(0, 0%, 9%, 1);
  --ds-purple-200-value: 277, 87%, 97%;
  --ds-teal-400-value: 170, 70%, 85%;
  --ds-green-600-value: 125, 60%, 64%;
  --banner-height: 0px;
  --ds-red-200-value: 0, 100%, 96%;
  --ds-blue-900-value: 211, 100%, 42%;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --tw-animation-iteration-count: 1;
  --tw-exit-opacity: 1;
  --ds-teal-500-value: 170, 70%, 72%;
  --ds-motion-overlay-timing: cubic-bezier(.175, .885, .32, 1.1);
  --ds-pink-800-value: 336, 74%, 51%;
  --tw-translate-z: 0;
  --tw-gradient-via: rgba(0, 0, 0, 0);
  --ds-pink-400: hsla(341, 76%, 91%, 1);
  --geist-violet-dark: #4c2889;
  --ai-chat-panel-width: 0px;
  --container-3xl: 48rem;
  --blur-xs: 4px;
  --tw-translate-y: 0;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --ship-start-gradient: #ff4d4d;
  --ds-gray-100: hsla(0, 0%, 95%, 1);
  --ds-page-width: 1400px;
  --tw-content: "";
  --ds-teal-100-value: 169, 70%, 96%;
  --animate-thinking-loader: thinking-loader 1.5s linear infinite;
  --ds-purple-500-value: 274, 70%, 82%;
  --ds-teal-300: hsla(168, 70%, 90%, 1);
  --tw-translate-x: 0;
  --tw-enter-rotate: 0;
  --ds-gray-100-value: 0, 0%, 95%;
  --ds-gray-alpha-1000: #000000e8;
  --geist-error-lighter: #f7d4d6;
  --animate-bounce: bounce 1s infinite;
  --ds-red-300: hsla(0, 100%, 95%, 1);
  --ds-purple-900: hsla(274, 71%, 43%, 1);
  --ds-background-100: hsla(0, 0%, 100%, 1);
  --ds-gray-alpha-300: #0000001a;
  --animate-fadeInTooltip: fadeInTooltip .1s ease-in .4s forwards;
  --ds-red-400: hsla(0, 90%, 92%, 1);
  --geist-marketing-gray: #fafbfc;
  --ds-red-600: hsla(359, 90%, 71%, 1);
  --ds-blue-300-value: 210, 100%, 94%;
  --ds-teal-900-value: 174, 91%, 25%;
  --ds-motion-timing-swift: cubic-bezier(.175, .885, .32, 1.1);
  --ds-pink-400-value: 341, 76%, 91%;
  --ds-pink-1000-value: 333, 74%, 15%;
  --ds-purple-400: hsla(276, 71%, 92%, 1);
  --ds-blue-800: hsla(212, 100%, 41%, 1);
  --ds-amber-900-value: 30, 100%, 32%;
  --geist-form-large-height: 48px;
  --geist-warning: #f5a623;
  --geist-error-dark: #c50000;
  --ds-motion-overlay-duration: .3s;
  --ds-purple-800-value: 272, 47%, 45%;
  --wv-red: #ff4e42;
  --ds-gray-alpha-900: #000000b3;
  --ds-gray-900: hsla(0, 0%, 30%, 1);
  --geist-violet: #7928ca;
  --ship-line-end: #f9cb28;
  --geist-console-header: #efe7ed;
  --geist-success-lighter: #d3e5ff;
  --ds-red-100-value: 0, 100%, 97%;
  --geist-error-light: #ff1a1a;
  --animate-accordion-down: accordion-down .2s ease-out;
  --ds-purple-100-value: 276, 100%, 97%;
  --tw-scale-z: 1;
  --ds-red-800: hsla(358, 70%, 52%, 1);
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-amber-300: hsla(43, 96%, 90%, 1);
  --tw-scroll-snap-strictness: proximity;
  --ds-green-500: hsla(124, 60%, 75%, 1);
  --ds-background-200-value: 0, 0%, 98%;
  --container-lg: 961px;
  --geist-highlight-yellow: #fff500;
  --ds-green-400-value: 122, 60%, 86%;
  --ds-pink-100: hsla(330, 100%, 96%, 1);
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-teal-600: hsla(170, 70%, 57%, 1);
  --geist-success: #0070f3;
  --ds-green-500-value: 124, 60%, 75%;
  --ds-gray-alpha-200: #00000014;
  --ds-gray-400: hsla(0, 0%, 92%, 1);
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --animate-cmdkFadeOut: cmdkFadeOut .3s cubic-bezier(.175, .885, .32, 1.1);
  --vaul-overlay-background: 255, 255, 255;
  --ds-gray-600-value: 0, 0%, 66%;
  --value: 0;
  --animate-accordion-up: accordion-up .2s ease-out;
  --animate-sandbox-right: sandbox-right .5s ease-in-out forwards;
  --preview-start-gradient: #7928ca;
  --animate-logo-carousel: logo-carousel ease-in-out infinite;
  --ds-teal-900: hsla(174, 91%, 25%, 1);
  --container-5xl: 64rem;
  --ds-amber-100: hsla(39, 100%, 95%, 1);
  --animate-sandbox-right-reverse: sandbox-right-reverse .5s ease-in-out forwards;
  --footer-height: 79px;
  --ds-red-900: hsla(358, 66%, 48%, 1);
  --geist-background: #fff;
  --perspective-distant: 1200px;
  --ds-red-600-value: 359, 90%, 71%;
  --ds-background-100-value: 0, 0%, 100%;
  --geist-selection: hsla(0, 0%, 9%, 1);
  --ds-teal-400: hsla(170, 70%, 85%, 1);
  --ds-purple-700: hsla(272, 51%, 54%, 1);
  --animate-spin: spin 1s linear infinite;
  --geist-warning-dark: #ab570a;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-blue-100-value: 212, 100%, 97%;
  --tw-divide-y-reverse: 0;
  --ds-teal-200: hsla(167, 70%, 94%, 1);
  --container-2xl: 1400px;
  --tw-exit-scale: 1;
  --ds-purple-200: hsla(277, 87%, 97%, 1);
  --ds-amber-200-value: 44, 100%, 92%;
  --tw-scale-x: 1;
  --tw-enter-translate-y: 0;
  --animate-dialogFadeOut: ;
  --ds-teal-600-value: 170, 70%, 57%;
  --ds-green-200-value: 120, 60%, 95%;
  --ship-end-gradient: #f9cb28;
  --ds-red-100: hsla(0, 100%, 97%, 1);
  --geist-violet-background: #fff;
  --ds-pink-600-value: 341, 75%, 73%;
  --ds-teal-800: hsla(173, 83%, 30%, 1);
  --blur-sm: 8px;
  --animate-cmdkLoading: cmdkLoading 1.1s cubic-bezier(.455, .03, .515, .955) infinite;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}