:root {
  /* Colors — Primary */
  --color-primary: #146ef5;
  --color-secondary: #6ca7ff;
  --color-accent: #3b82f6;

  /* Colors — Neutrals */
  --color-neutral-50: #080808;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #5a5a5a;
  --color-neutral-300: #d8d8d8;
  --color-neutral-400: #f0f0f0;
  --color-neutral-500: #1a1a1a;
  --color-neutral-600: #6b7280;
  --color-neutral-700: #292929;
  --color-neutral-800: #464646;
  --color-neutral-900: #808080;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #146ef5;
  --color-bg-2: #080808;
  --color-bg-3: #222222;
  --color-bg-4: #171717;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #080808;
  --color-text-2: #ffffff;
  --color-text-3: #5a5a5a;
  --color-text-4: #808080;

  /* Typography — Families */
  --font-sans: 'WF Visual Sans Variable', sans-serif;
  --font-body: 'WFVisualSans-Mono', sans-serif;
  --font-body: 'Times', sans-serif;

  /* Typography — Scale */
  --font-size-74.8571: 74.8571px;
  --font-size-52.5714: 52.5714px;
  --font-size-42.0571: 42.0571px;
  --font-size-38.2857: 38.2857px;
  --font-size-30.8571: 30.8571px;
  --font-size-30.5714: 30.5714px;
  --font-size-28.1143: 28.1143px;
  --font-size-24: 24px;
  --font-size-23.4286: 23.4286px;
  --font-size-20: 20px;
  --font-size-19.7143: 19.7143px;
  --font-size-19.6571: 19.6571px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-23: 23px;
  --spacing-31: 31px;
  --spacing-37: 37px;
  --spacing-40: 40px;
  --spacing-46: 46px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-73: 73px;
  --spacing-80: 80px;
  --spacing-88: 88px;
  --spacing-91: 91px;
  --spacing-99: 99px;
  --spacing-111: 111px;
  --spacing-184: 184px;
  --spacing-192: 192px;
  --spacing-197: 197px;
  --spacing-215: 215px;
  --spacing-229: 229px;
  --spacing-248: 248px;

  /* Border Radius */
  --radius-xs: 2px;
  --radius-md: 6px;
  --radius-full: 50px;
  --radius-full: 1280px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 100px inset;
  --shadow-lg: rgba(0, 0, 0, 0.12) 0px 4px 24px 0px, rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;
  --shadow-xl: rgba(0, 0, 0, 0) 0px 84px 24px 0px, rgba(0, 0, 0, 0.01) 0px 54px 22px 0px, rgba(0, 0, 0, 0.04) 0px 30px 18px 0px, rgba(0, 0, 0, 0.08) 0px 13px 13px 0px, rgba(0, 0, 0, 0.09) 0px 3px 7px 0px;
  --shadow-xl: rgba(0, 0, 0, 0) 0px 105px 30px 0px, rgba(0, 0, 0, 0.02) 0px 67px 27px 0px, rgba(0, 0, 0, 0.06) 0px 38px 23px 0px, rgba(0, 0, 0, 0.1) 0px 17px 17px 0px, rgba(0, 0, 0, 0.12) 0px 4px 9px 0px;
  --shadow-xl: rgba(0, 0, 0, 0.01) 0px 148px 42px 0px, rgba(0, 0, 0, 0.04) 0px 95px 38px 0px, rgba(0, 0, 0, 0.15) 0px 53px 32px 0px, rgba(0, 0, 0, 0.26) 0px 24px 24px 0px, rgba(0, 0, 0, 0.29) 0px 6px 13px 0px;

  /* Original Site Variables */
  /* — colors — */
  --colors--background: var(--_color---neutral--white);
  --_color---neutral--black: #080808;
  --colors--primary-accent: var(--_color---primary--webflow-blue);
  --colors--text: var(--_color---neutral--black);
  --colors--border: var(--_color---neutral--gray-200);
  --colors--secondary-background: var(--_color---neutral--gray-100);
  --_color---secondary--purple: #7a3dff;
  --_color---secondary--pink: #ed52cb;
  --_components---button--border-radius: .25rem;
  --_color---neutral--white: white;
  --_color---primary--webflow-blue: #146ef5;
  --colors--text-secondary: var(--_color---neutral--gray-600);
  --_color---neutral--gray-700: #363636;
  --_components---card--border-radius: .5rem;
  --_components---card--padding: clamp(1*1rem,((1 - ((1.5 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.5 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.5*1rem);
  --_color---neutral--gray-400: #898989;
  --_components---input--border-radius: .25rem;
  --_color---neutral--gray-100: #f0f0f0;
  --colors--primary-accent-text: color-mix(in hsl,var(--colors--primary-accent)92%,var(--colors--text)8%);
  --colors--primary-accent-background: color-mix(in hsl,var(--colors--primary-accent)10%,transparent 90%);
  --_color---neutral--gray-600: #5a5a5a;
  --_color---neutral--gray-800: #222;
  --_color---neutral--gray-900: #171717;
  --_color---neutral--gray-500: #757575;
  --_color---neutral--gray-300: #ababab;
  --_color---neutral--gray-200: #d8d8d8;
  --_color---secondary--orange: #ff6b00;
  --_color---secondary--green: #00d722;
  --_color---primary--blue-600: #0055d4;
  --_color---secondary--red: #ee1d36;
  --_typography---fonts--primary-font: "WF Visual Sans Variable",Arial,sans-serif;
  --_color---primary--blue-400: #3b89ff;
  --_color---secondary--yellow: #ffae13;
  --_color---blue-300: #006acc;
  --mkto-embed-color-button-hover: #0055d4;
  --mkto-embed-checkbox-border: #d8d8d8;
  --swiper-theme-color: #007aff;
  --mkto-embed-color-border-hover: #898989;
  --mkto-embed-color-button: #146ef5;
  --mkto-embed-color-border: #d8d8d8;
  --mkto-embed-color-error: #146ef5;
  --mkto-embed-color-placeholder: #757575;
  --mkto-embed-color-link: #080808;
  --mkto-embed-color-text: #080808;
  --mkto-embed-color-background: #ffffff;
  /* — spacing — */
  --_typography---paragraph-body--font-size: 1rem;
  --_typography---paragraph-body--letter-spacing: 0em;
  --_typography---h1--bottom-margin: var(--_layout---spacing--margin-md);
  --_typography---h1--font-size: clamp(2.75*1rem,((2.75 - ((5 - 2.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((5 - 2.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),5*1rem);
  --_typography---h1--letter-spacing: -.01em;
  --_typography---h2--bottom-margin: var(--_layout---spacing--margin-md);
  --_typography---h2--font-size: clamp(2*1rem,((2 - ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),3.5*1rem);
  --_typography---h2--letter-spacing: 0em;
  --_typography---h3--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---h3--font-size: clamp(1.75*1rem,((1.75 - ((2.5 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2.5 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2.5*1rem);
  --_typography---h3--letter-spacing: 0em;
  --_typography---h4--bottom-margin: var(--_layout---spacing--margin-xs);
  --_typography---h4--font-size: clamp(1.375*1rem,((1.375 - ((2 - 1.375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2 - 1.375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2*1rem);
  --_typography---h4--letter-spacing: 0em;
  --_typography---h5--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---h5--font-size: clamp(1.25*1rem,((1.25 - ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.5*1rem);
  --_typography---h5--letter-spacing: 0em;
  --_typography---h6--bottom-margin: var(--_layout---spacing--margin-xs);
  --_typography---h6--font-size: clamp(1.125*1rem,((1.125 - ((1.25 - 1.125)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1.125)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --_typography---h6--letter-spacing: 0em;
  --_typography---paragraph-body--bottom-margin: var(--_layout---spacing--margin-sm);
  --_layout---section-spacing--small: clamp(3*1rem,((3 - ((5 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((5 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),5*1rem);
  --_layout---spacing--margin-xl: clamp(2.25*1rem,((2.25 - ((3 - 2.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((3 - 2.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),3*1rem);
  --_layout---spacing--margin-md: clamp(1.25*1rem,((1.25 - ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.5*1rem);
  --_layout---section-spacing--medium: clamp(3*1rem,((3 - ((9 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((9 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),9*1rem);
  --_layout---spacing--margin-sm: clamp(.625*1rem,((.625 - ((1 - .625)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1 - .625)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1*1rem);
  --_layout---section-spacing--extra-large: clamp(10*1rem,((10 - ((28 - 10)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((28 - 10)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),28*1rem);
  --_layout---spacing--margin-lg: clamp(1.75*1rem,((1.75 - ((2 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2*1rem);
  --_layout---grid--gap-md: var(--_layout---spacing--margin-md);
  --_layout---grid--gap-main: var(--_layout---spacing--margin-lg);
  --_layout---grid--gap-sm: var(--_layout---spacing--margin-sm);
  --_layout---grid--gap-lg: var(--_layout---spacing--margin-xl);
  --_layout---grid--gap-xs: var(--_layout---spacing--margin-xs);
  --_layout---grid--gap-xl: clamp(2.5*1rem,((2.5 - ((5 - 2.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((5 - 2.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),5*1rem);
  --_components---button--vertical-padding: 1em;
  --_components---button--horizontal-padding: 1.5em;
  --_components---button--font-size: 1rem;
  --_components---button--letter-spacing: -.01em;
  --_components---input--bottom-margin: var(--_layout---grid--gap-md);
  --_size---0-5rem<deleted|variable-70a8c3ac-c656-f79e-479c-716ec38165c2>: .5rem;
  --_components---input--font-size: 1rem;
  --_components---input--letter-spacing: 0em;
  --_layout---spacing--margin-xs: clamp(.375*1rem,((.375 - ((.5 - .375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((.5 - .375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),.5*1rem);
  --_components---input-label--font-size: .9rem;
  --_typography---caption--letter-spacing: 0em;
  --_typography---eyebrow--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---eyebrow--font-size: clamp(1*1rem,((1 - ((1.25 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --_typography---eyebrow--letter-spacing: 0em;
  --_typography---paragraph-sm--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---paragraph-sm--font-size: .875rem;
  --_typography---paragraph-sm--letter-spacing: 0em;
  --_typography---paragraph-lg--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---paragraph-lg--font-size: clamp(1.1*1rem,((1.1 - ((1.25 - 1.1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1.1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --_typography---paragraph-lg--letter-spacing: 0em;
  --_typography---paragraph-xl--bottom-margin: var(--_layout---spacing--margin-md);
  --_typography---paragraph-xl--font-size: clamp(1.5*1rem,((1.5 - ((2 - 1.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2 - 1.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2*1rem);
  --_typography---type-paragraph-lg--font-size-md<deleted|variable-cdbe9950-9272-2284-ccf6-60cab96acd5f>: 1.25rem;
  --_typography---type-paragraph-lg--font-size-sm<deleted|variable-841c9cf1-74b8-7850-db1d-b82cdc8d3013>: 1.1rem;
  --_typography---type-paragraph-lg--font-size-xs<deleted|variable-dab72a89-1875-a2f7-1d85-bd05f81dd817>: 1.1rem;
  --_typography---type-paragraph-sm--font-size-md<deleted|variable-94c5336e-6e13-9026-329b-a7b4ba64e183>: .9rem;
  --_typography---type-paragraph-sm--font-size-sm<deleted|variable-dce65071-f183-75c5-98aa-d8afc83560a0>: .9rem;
  --_typography---type-paragraph-sm--font-size-xs<deleted|variable-5ffbcc90-83d8-60d2-b7ba-601684d03f16>: .9rem;
  --_typography---subheading-xl--font-size: var(--_typography---h4--font-size);
  --_size---0-25rem<deleted|variable-2d47388d-3251-c56b-03c9-35dfc0a59c39>: .25rem;
  --_size---1rem<deleted|variable-461c7c57-ec3c-d23c-768b-c6de52a540e5>: 1rem;
  --_size---0-75rem<deleted|variable-51df6ead-a71c-263d-332f-348c569f6d5f>: .75rem;
  --_size---5rem<deleted|variable-ff14b77f-fe78-09a6-d1f0-e9e7c84aae7c>: 5rem;
  --_typography---caption--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---caption--font-size: .8rem;
  --_typography---paragraph-xxl--font-size: clamp(2*1rem,((2 - ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),3.5*1rem);
  --_typography---paragraph-xxl--letter-spacing: 0em;
  --_layout---section-spacing--large: clamp(3*1rem,((3 - ((15 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((15 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),15*1rem);
  --_typography---h0--bottom-margin: var(--_layout---spacing--margin-md);
  --_typography---h0--font-size: clamp(3*1rem,((3 - ((7 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((7 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),7*1rem);
  --_typography---h0--letter-spacing: 0em;
  --_typography---subheading-xxl--font-size: var(--_typography---h3--font-size);
  --_typography---subheading-xxl--letter-spacing: 0em;
  --_typography---subheading-lg--font-size: var(--_typography---h5--font-size);
  --_typography---subheading-lg--letter-spacing: 0em;
  --_typography---subheading--font-size: var(--_typography---h6--font-size);
  --_typography---subheading--letter-spacing: 0px;
  --_typography---paragraph-xs--font-size: .75rem;
  --_typography---paragraph-xs--letter-spacing: 0em;
  --_typography---subheading-xxl--bottom-margin: var(--_layout---spacing--margin-sm);
  --_typography---subheading-xl--bottom-margin: var(--_layout---spacing--margin-xs);
  --_typography---subheading-xl--letter-spacing: 0em;
  --_typography---subheading-lg--bottom-margin: var(--_layout---spacing--margin-xs);
  --_typography---subheading--bottom-margin: var(--_layout---spacing--margin-xs);
  --_components---image--float-size: max(-2vw,-3.5rem);
  --_typography---paragraph-xs--bottom-margin: var(--_layout---spacing--margin-sm);
  --_components---input-label--letter-spacing: 0em;
  --_typography---paragraph-xxl--bottom-margin: var(--_layout---spacing--margin-md);
  --_typography---paragraph-xl--letter-spacing: 0em;
  --swiper-navigation-size: 44px;
  /* — typography — */
  --_typography---paragraph-body--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-body--line-height: 1.6;
  --_typography---paragraph-body--font-weight: 400;
  --_typography---h1--font: var(--_typography---fonts--primary-font);
  --_typography---h1--line-height: 1.04;
  --_typography---h1--font-weight: 600;
  --_typography---h2--font: var(--_typography---fonts--primary-font);
  --_typography---h2--line-height: 1.04;
  --_typography---h2--font-weight: 600;
  --_typography---h3--font: var(--_typography---fonts--primary-font);
  --_typography---h3--line-height: 1.2;
  --_typography---h3--font-weight: 600;
  --_typography---h4--font: var(--_typography---fonts--primary-font);
  --_typography---h4--line-height: 1.2;
  --_typography---h4--font-weight: 600;
  --_typography---h5--font: var(--_typography---fonts--primary-font);
  --_typography---h5--line-height: 1.3;
  --_typography---h5--font-weight: 600;
  --_typography---h6--font: var(--_typography---fonts--primary-font);
  --_typography---h6--line-height: 1.4;
  --_typography---h6--font-weight: 600;
  --_components---button--font: var(--_typography---fonts--primary-font);
  --_components---button--line-height: 1.2em;
  --_components---button--font-weight: 500;
  --_components---input--font: var(--_typography---fonts--primary-font);
  --_components---input--line-height: 1.5em;
  --_components---input--font-weight: 400;
  --_components---input-label--font: var(--_typography---fonts--primary-font);
  --_components---input-label--line-height: 1.4em;
  --_components---input-label--font-weight: 500;
  --_typography---eyebrow--font: var(--_typography---fonts--primary-font);
  --_typography---eyebrow--line-height: 1.4;
  --_typography---eyebrow--font-weight: 500;
  --_typography---paragraph-sm--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-sm--line-height: 1.6;
  --_typography---paragraph-sm--font-weight: 400;
  --_typography---paragraph-lg--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-lg--line-height: 1.5;
  --_typography---paragraph-lg--font-weight: 400;
  --_typography---paragraph-xl--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-xl--line-height: 1.4;
  --_typography---paragraph-xl--font-weight: 400;
  --_typography---caption--font: var(--_typography---fonts--primary-font);
  --_typography---caption--line-height: 1.2;
  --_typography---caption--font-weight: 550;
  --_typography---paragraph-xxl--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-xxl--line-height: 1.2;
  --_typography---paragraph-xxl--font-weight: 400;
  --_typography---h0--font: var(--_typography---fonts--primary-font);
  --_typography---h0--line-height: 1.04;
  --_typography---h0--font-weight: 600;
  --_typography---subheading-xxl--font: var(--_typography---fonts--primary-font);
  --_typography---subheading-xxl--line-height: 1.2;
  --_typography---subheading-xxl--font-weight: 500;
  --_typography---subheading-lg--font: var(--_typography---fonts--primary-font);
  --_typography---subheading-lg--line-height: 1.3;
  --_typography---subheading-lg--font-weight: 500;
  --_typography---subheading--font: var(--_typography---fonts--primary-font);
  --_typography---subheading--line-height: 1.4;
  --_typography---subheading--font-weight: 500;
  --_typography---paragraph-xs--font: var(--_typography---fonts--primary-font);
  --_typography---paragraph-xs--line-height: 1.6;
  --_typography---paragraph-xs--font-weight: 400;
  --_typography---subheading-xl--font: var(--_typography---fonts--primary-font);
  --_typography---subheading-xl--line-height: 1.3;
  --_typography---subheading-xl--font-weight: 500;
  --mkto-embed-font-family: "WF Visual Sans Variable",sans-serif;
  /* — other — */
  --_components---nav--height: 4.25rem;
  --_layout---container--max-width: calc(var(--_layout---fluid--max)*1rem);
  --_layout---fluid--max: 90;
  --_layout---fluid--min: 20;
  --transition-duration-1: 150ms;
  --transition-duration-2: 300ms;
  --transition-duration-3: 450ms;
  --transition-duration-4: 750ms;
  --transition-duration-5: 1200ms;
  --transition-duration-6: 1950ms;
  --transition-duration-7: 3150ms;
  --transition-timing-inoutquad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --transition-timing-inoutcubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-timing-inoutquart: cubic-bezier(0.77, 0, 0.175, 1);
  --animation-duration-1: 0.3s;
  --animation-duration-2: 0.45s;
  --animation-duration-3: 0.75s;
  --animation-duration-4: 1.2s;
  --animation-delay-d0: 0s;
  --animation-delay-d1: 0.3s;
  --animation-delay-d2: 0.45s;
  --animation-delay-d3: 0.75s;
  --animation-delay-d4: 1.2s;
  --animation-delay-d5: 1.95s;
  --animation-delay-d6: 2.7s;
  --animation-delay-d7: 3.45s;
  --mkto-embed-checkbox-background: #ffffff;
  --mkto-embed-checkbox-checked: #080808;
  --sa-uid: '';
  /* — dependencies — */
  --colors--background: --_color---neutral--white;
  --_typography---paragraph-body--font: --_typography---fonts--primary-font;
  --_typography---h1--bottom-margin: --_layout---spacing--margin-md;
  --_typography---h1--font: --_typography---fonts--primary-font;
  --_typography---h1--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h2--bottom-margin: --_layout---spacing--margin-md;
  --_typography---h2--font: --_typography---fonts--primary-font;
  --_typography---h2--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h3--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---h3--font: --_typography---fonts--primary-font;
  --_typography---h3--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h4--bottom-margin: --_layout---spacing--margin-xs;
  --_typography---h4--font: --_typography---fonts--primary-font;
  --_typography---h4--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h5--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---h5--font: --_typography---fonts--primary-font;
  --_typography---h5--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h6--bottom-margin: --_layout---spacing--margin-xs;
  --_typography---h6--font: --_typography---fonts--primary-font;
  --_typography---h6--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---paragraph-body--bottom-margin: --_layout---spacing--margin-sm;
  --colors--primary-accent: --_color---primary--webflow-blue;
  --_layout---section-spacing--small: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --colors--text: --_color---neutral--black;
  --colors--border: --_color---neutral--gray-200;
  --_layout---spacing--margin-xl: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --colors--secondary-background: --_color---neutral--gray-100;
  --_layout---spacing--margin-md: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---section-spacing--medium: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---spacing--margin-sm: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---section-spacing--extra-large: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---spacing--margin-lg: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---container--max-width: --_layout---fluid--max;
  --_layout---grid--gap-md: --_layout---spacing--margin-md;
  --_layout---grid--gap-main: --_layout---spacing--margin-lg;
  --_layout---grid--gap-sm: --_layout---spacing--margin-sm;
  --_layout---grid--gap-lg: --_layout---spacing--margin-xl;
  --_layout---grid--gap-xs: --_layout---spacing--margin-xs;
  --_layout---grid--gap-xl: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_components---button--font: --_typography---fonts--primary-font;
  --colors--text-secondary: --_color---neutral--gray-600;
  --_components---card--padding: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_components---input--bottom-margin: --_layout---grid--gap-md;
  --_components---input--font: --_typography---fonts--primary-font;
  --_layout---spacing--margin-xs: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_components---input-label--font: --_typography---fonts--primary-font;
  --_typography---eyebrow--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---eyebrow--font: --_typography---fonts--primary-font;
  --_typography---eyebrow--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---paragraph-sm--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---paragraph-sm--font: --_typography---fonts--primary-font;
  --_typography---paragraph-lg--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---paragraph-lg--font: --_typography---fonts--primary-font;
  --_typography---paragraph-lg--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---paragraph-xl--bottom-margin: --_layout---spacing--margin-md;
  --_typography---paragraph-xl--font: --_typography---fonts--primary-font;
  --_typography---paragraph-xl--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --colors--primary-accent-text: --colors--primary-accent,--colors--text;
  --colors--primary-accent-background: --colors--primary-accent;
  --_typography---subheading-xl--font-size: --_typography---h4--font-size;
  --_typography---caption--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---caption--font: --_typography---fonts--primary-font;
  --_typography---paragraph-xxl--font: --_typography---fonts--primary-font;
  --_typography---paragraph-xxl--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_layout---section-spacing--large: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---h0--bottom-margin: --_layout---spacing--margin-md;
  --_typography---h0--font: --_typography---fonts--primary-font;
  --_typography---h0--font-size: --_layout---fluid--max,--_layout---fluid--min,--_layout---fluid--min,--_layout---fluid--max,--_layout---fluid--min;
  --_typography---subheading-xxl--font: --_typography---fonts--primary-font;
  --_typography---subheading-xxl--font-size: --_typography---h3--font-size;
  --_typography---subheading-lg--font: --_typography---fonts--primary-font;
  --_typography---subheading-lg--font-size: --_typography---h5--font-size;
  --_typography---subheading--font: --_typography---fonts--primary-font;
  --_typography---subheading--font-size: --_typography---h6--font-size;
  --_typography---paragraph-xs--font: --_typography---fonts--primary-font;
  --_typography---subheading-xxl--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---subheading-xl--bottom-margin: --_layout---spacing--margin-xs;
  --_typography---subheading-xl--font: --_typography---fonts--primary-font;
  --_typography---subheading-lg--bottom-margin: --_layout---spacing--margin-xs;
  --_typography---subheading--bottom-margin: --_layout---spacing--margin-xs;
  --_typography---paragraph-xs--bottom-margin: --_layout---spacing--margin-sm;
  --_typography---paragraph-xxl--bottom-margin: --_layout---spacing--margin-md;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}