:root {
  /* Colors — Primary */
  --color-primary: #d6ebfd;
  --color-secondary: #00a3ff;
  --color-accent: #44ffa4;

  /* Colors — Neutrals */
  --color-neutral-50: #f0f0f0;
  --color-neutral-100: #a1a4a5;
  --color-neutral-200: #ffffff;
  --color-neutral-300: #f1f7fe;
  --color-neutral-400: #464a4d;
  --color-neutral-500: #6c6c6c;
  --color-neutral-600: #000000;
  --color-neutral-700: #e5edfd;
  --color-neutral-800: #70757e;
  --color-neutral-900: #262a2d;

  /* Colors — Backgrounds */
  --color-bg: #000000;
  --color-bg-1: #ffffff;

  /* Colors — Text */
  --color-text: #ffffff;
  --color-text-1: #f0f0f0;
  --color-text-2: #f1f7fe;
  --color-text-3: #a1a4a5;
  --color-text-4: #ffc446;

  /* Typography — Families */
  --font-body: 'inter', sans-serif;
  --font-body: 'commitMono', sans-serif;
  --font-font-2: 'aBCFavorit', sans-serif;
  --font-font-3: 'Helvetica', sans-serif;
  --font-heading: 'domaine', sans-serif;
  --font-body: 'Arial', sans-serif;

  /* Typography — Scale */
  --font-size-96: 96px;
  --font-size-76.8: 76.8px;
  --font-size-56: 56px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-62: 62px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-104: 104px;
  --spacing-144: 144px;
  --spacing-150: 150px;
  --spacing-221: 221px;
  --spacing-380: 380px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  --shadow-sm: rgb(0, 0, 0) 0px 0px 0px 8px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(176, 199, 217, 0.145) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(255, 255, 255) 0px 1px 1px 0px inset;

  /* Original Site Variables */
  /* — colors — */
  --editor-accent: 59 130 246;
  --color-orange-4: #ff590039;
  --color-orange-10: #ff801f;
  --color-green-4: #11ff992d;
  --color-zinc-200: lab(90.6853% .399232 -1.45452);
  --color-green-3: #22ff991e;
  --color-pink-500: lab(56.9303% 76.8162 -8.07021);
  --color-yellow-9: #ffc53d;
  --color-neutral-300: lab(84.92% 0 -.0000119209);
  --tw-inset-ring-shadow: 0 0 #0000;
  --color-gray-a3: #b0c7d925;
  --color-neutral-200: lab(90.952% 0 -.0000119209);
  --color-blue-5: #0081fd6b;
  --color-gray-12: #f0f0f0;
  --color-gray-300: lab(85.1236% -.612259 -3.7138);
  --color-light-slate-3: #0000330f;
  --color-slate-300: lab(84.7652% -1.94535 -7.93337);
  --color-gray-500: lab(47.7841% -.393182 -10.0268);
  --color-gray-2: #191b1e;
  --color-blue-4: #0075ff57;
  --color-green-500: lab(70.5521% -66.5147 45.8073);
  --color-blue-10: #3b9eff;
  --color-orange-11: #ffa057;
  --color-white: #fff;
  --color-black-12: #000000f2;
  --color-light-gray-a3: #d9d9d9;
  --color-yellow-300: lab(89.7033% -.480294 84.4917);
  --color-zinc-950: lab(2.51107% .242703 -.886115);
  --color-gray-100: lab(96.1596% -.0823438 -1.13575);
  --color-red-5: #ff204756;
  --color-black-6: #0006;
  --color-violet-500: lab(49.9355% 55.1776 -81.8963);
  --text-on-accent: #000;
  --color-gray-11: #a1a4a5;
  --color-orange-7: #ff832c75;
  --color-light-gray-1: #f0f0f0;
  --color-gray-a8: #d8eaf161;
  --color-green-6: #44ffaa4b;
  --color-light-gray-7: #656565;
  --color-gray-10: #878d8f;
  --color-gray-5: #333b3e;
  --animate-disco-border: disco 6s linear infinite;
  --color-violet-3: #8354fe36;
  --color-cyan-500: lab(67.805% -35.3952 -30.2018);
  --color-orange-500: lab(64.272% 57.1788 90.3583);
  --color-yellow-4: #fc820032;
  --color-yellow-5: #fd8b0041;
  --color-black-2: #0000001a;
  --color-black-8: #0009;
  --ai-border-speed: 3s;
  --color-gray-a9: #dceff673;
  --color-blue-7: #2a91fe98;
  --color-slate-10: #e5edfd7b;
  --bg-accent: #fff;
  --color-yellow-12: #ffe7b3;
  --color-emerald-500: lab(66.9756% -58.27 19.5419);
  --color-gray-8: #52595b;
  --color-gray-950: lab(1.90334% .278696 -5.48866);
  --color-gray-4: #293034;
  --scroll-shadow-line-color: #212629;
  --color-red-9: #fe4e54e4;
  --color-yellow-10: #ffd60a;
  --color-gray-600: lab(35.6337% -1.58697 -10.8425);
  --color-light-gray-4: #bebebe;
  --color-slate-8: #d9edff5d;
  --color-blue-600: lab(44.0605% 29.0279 -86.0352);
  --tw-border-style: solid;
  --color-red-600: lab(48.4493% 77.4328 61.5452);
  --color-gray-1: #141517;
  --color-blue-12: #c2e6ff;
  --color-green-8: #54ffad73;
  --color-violet-7: #9879ff83;
  --color-violet-6: #8f6cfd6d;
  --color-black: #000;
  --color-slate-5: #d9edfe25;
  --color-red-12: #ffd1d9;
  --tw-border-spacing-y: 0px;
  --color-orange-3: #fb6a0025;
  --color-sand-4: #fefef31b;
  --color-green-9: #44ffa49e;
  --color-slate-9: #dfebfd6d;
  --color-yellow-3: #fa820022;
  --color-gray-a4: #caecff33;
  --tw-ring-shadow: 0 0 #0000;
  --color-slate-4: #d3edf81d;
  --color-red-11: #ff9592;
  --color-red-3: #ff173f2d;
  --bg-overlay: #000000f2;
  --color-orange-9: #fe6d15f7;
  --color-gray-7: #434a4d;
  --color-light-gray-5: #989898;
  --color-violet-9: #8668ffcc;
  --ring-accent: #caecff33;
  --color-blue-8: #3094feb9;
  --color-green-100: lab(96.1861% -13.8464 6.52365);
  --color-slate-2: #d8f4f609;
  --tw-border-spacing-x: 0px;
  --color-slate-11: #f1f7feb5;
  --color-gray-6: #3b4345;
  --color-gray-3: #212629;
  --color-red-4: #fe0a3b44;
  --color-violet-4: #7d51fd50;
  --color-orange-8: #fe84389d;
  --color-red-10: #ff6465eb;
  --color-blue-9: #0090ff;
  --color-gray-a2: #18191ce0;
  --color-gray-a10: #e8f4f880;
  --color-sand-3: #f6f6f513;
  --color-red-7: #ff536184;
  --tw-ring-offset-color: #fff;
  --color-black-9: #000000b3;
  --color-light-slate-7: #00062e32;
  --color-slate-7: #d9edff40;
  --color-light-gray-3: #d7d7d7;
  --color-green-12: #bbffd7f0;
  --color-yellow-6: #fd9b0051;
  --color-red-1: #f4121209;
  --color-background: #000;
  --color-red-500: lab(55.4814% 75.0732 48.8528);
  --color-sand-9: #fffae965;
  --tw-ring-offset-width: 0px;
  --color-zinc-300: lab(84.9837% .601262 -2.17986);
  --color-blue-3: #0077ff3a;
  --color-slate-1: #0000;
  --color-sand-10: #fffdee73;
  --color-black-5: #0000004d;
  --color-gray-a12: #fdfdfded;
  --color-orange-6: #fd75045c;
  --color-red-6: #ff3e5668;
  --color-fuchsia-500: lab(56.4256% 83.132 -64.639);
  --color-gray-a1: #16171aeb;
  --color-lime-500: lab(75.3197% -46.6547 86.1778);
  --color-black-3: #00000026;
  --color-violet-8: #977dfea8;
  --color-slate-3: #ddeaf814;
  --color-slate-50: lab(98.1434% -.369519 -1.05966);
  --tw-ring-offset-shadow: 0 0 #0000;
  --color-green-5: #2bffa23c;
  --color-slate-6: #d6ebfd30;
  --color-light-gray-a2: #ebebeb;
  --color-zinc-500: lab(47.8878% 1.65477 -5.77283);
  --color-green-11: #46fea5d4;
  --color-yellow-1: #e63c0006;
  --color-sand-11: #fffcf4b0;
  --color-light-gray-2: #eee;
  --color-amber-500: lab(72.7183% 31.8672 97.9407);
  --color-orange-400: lab(70.0429% 42.5156 75.8207);
  --color-green-800: lab(37.4616% -36.7971 22.9692);
  --color-yellow-7: #ffab2567;
  --color-yellow-11: #ffca16;
  --bg-accent-hover: #f0f0f0;
  --color-slate-100: lab(96.286% -.852436 -2.46847);
  --color-green-1: #00de4505;
  --color-blue-500: lab(54.1736% 13.3369 -74.6839);
  --color-zinc-400: lab(65.6464% 1.53497 -5.42429);
  --color-gray-a5: #d2f3ff3d;
  --color-red-8: #ff5d61b0;
  --color-gray-a11: #fdfeffa6;
  --color-green-300: lab(86.9953% -47.2691 25.0054);
  --color-gray-200: lab(91.6229% -.159115 -2.26791);
  --color-gray-9: #6e7679;
  --color-violet-10: #9176fed7;
  --color-emerald-400: lab(75.0771% -60.7313 19.4147);
  --color-slate-12: #fcfdffef;
  --animate-webgl-scale-in-fade: webgl-scale-in-fade 1s ease-in-out;
  --color-canvas: #14151799;
  --color-blue-11: #70b8ff;
  --color-yellow-500: lab(76.3898% 14.5258 98.4589);
  --color-green-7: #50fdac5e;
  --color-violet-11: #baa7ff;
  --color-green-10: #43fea4ab;
  /* — spacing — */
  --tw-space-x-reverse: 0;
  --spacing: .25rem;
  --tw-space-y-reverse: 0;
  /* — typography — */
  --text-placeholder: #52595b;
  --font-abc-favorit: "aBCFavorit";
  --text-base--line-height: calc(1.5 / 1);
  --tracking-wider: .05em;
  --font-mono: "commitMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-domaine-src: "domaine";
  --text-9xl--line-height: 1;
  --font-weight-bold: 700;
  --text-2xs: .625rem;
  --text-xs--line-height: calc(1 / .75);
  --font-domaine: "domaine", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-xl: 1.25rem;
  --animate-ai-shimmer-text: ai-shimmer-text 2.5s linear infinite;
  --leading-relaxed: 1.625;
  --leading-snug: 1.375;
  --text-9xl: 8rem;
  --font-univers: ;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-sm: .875rem;
  --leading-tight: 1.25;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --tracking-tight: -.025em;
  --text-2xl: 1.5rem;
  --text-7xl: 4.5rem;
  --text-lg: 1.125rem;
  --text-5xl--line-height: 1;
  --leading-normal: 1.5;
  --text-lg--line-height: calc(1.75 / 1.125);
  --animate-hero-text-slide-up-fade: hero-text-slide-up-fade 1s ease-in-out;
  --font-sans: "inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-6xl: 3.75rem;
  --default-font-family: "inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-weight-light: 300;
  --font-inter: "inter";
  --font-commit-mono: "commitMono";
  --text-7xl--line-height: 1;
  --tracking-tighter: -.05em;
  --tracking-wide: .025em;
  --font-weight-semibold: 600;
  --text-4xl: 2.25rem;
  --tracking-normal: 0em;
  --text-sm--line-height: calc(1.25 / .875);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-5xl: 3rem;
  --text-3xl: 1.875rem;
  --text-xs: .75rem;
  --tracking-widest: .1em;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-display: "aBCFavorit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-6xl--line-height: 1;
  --leading-loose: 2;
  --text-base: 1rem;
  --default-mono-font-family: "commitMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* — shadows — */
  --tw-inset-shadow-alpha: 100%;
  --tw-inset-shadow: 0 0 #0000;
  --tw-shadow-alpha: 100%;
  --shadow-4xl: 2px 13px 68px 7px #0000001a;
  --shadow-button: 0px 0px 4px #ffffff0f, 0px 1px 14px #ffffff1f, 0px 3px 32px #ffffff2e;
  --tw-drop-shadow-alpha: 100%;
  --shadow-3xl: 0 0 60px 30px #f2f2f2;
  --tw-shadow: 0 0 #0000;
  /* — radii — */
  --radius-4xl: 2rem;
  --radius-sm: .25rem;
  --radius-2xl: 1rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-3xl: 1.5rem;
  --radius-xs: .125rem;
  --radius-xl: .75rem;
  /* — other — */
  --black-a1: #0000000d;
  --black-a2: #0000001a;
  --black-a3: #00000026;
  --black-a4: #0003;
  --black-a5: #0000004d;
  --black-a6: #0006;
  --black-a7: #00000080;
  --black-a8: #0009;
  --black-a9: #000000b3;
  --black-a10: #000c;
  --black-a11: #000000e6;
  --black-a12: #000000f2;
  --editor-topbar-height: 0px;
  --container-md: 28rem;
  --violet-a6: #8f6cfd6d;
  --red-a7: #ff536184;
  --ai-shimmer-speed: 2s;
  --aspect-video: 16 / 9;
  --green-a11: #46fea5d4;
  --blur-lg: 16px;
  --rainbow-purple: #611c9870;
  --red-a9: #fe4e54e4;
  --tw-outline-style: solid;
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --edge-fade-start: #ffffff3d;
  --slate-a11: #f1f7feb5;
  --violet-a3: #8354fe36;
  --slate-a9: #dfebfd6d;
  --edge-fade-end: #fff0;
  --green-a9: #44ffa49e;
  --orange-a2: #fe6d000e;
  --amber-a12: #ffe7b3;
  --animate-fade-out: fade-out .2s ease;
  --cyan-a9: #00cfffc3;
  --sand-a6: #fffaed2d;
  --slate-a10: #e5edfd7b;
  --animate-header-slide-down-fade: header-slide-down-fade 1s ease-in-out;
  --tw-gradient-from: rgba(0, 0, 0, 0);
  --amber-a8: #ffae3587;
  --slate-a3: #ddeaf814;
  --cyan-a11: #52e1fee5;
  --tw-gradient-to: rgba(0, 0, 0, 0);
  --red-a4: #fe0a3b44;
  --orange-a1: #ec360007;
  --gray-a9: #dceff673;
  --orange-a11: #ffa057;
  --blur-2xl: 40px;
  --tw-gradient-via-position: 50%;
  --gray-a5: #d2f3ff3d;
  --gray-a2: #18191ce0;
  --cyan-a4: #00baff3b;
  --cyan-a7: #14cdff75;
  --violet-a12: #e3defffe;
  --blue-a12: #c2e6ff;
  --blue-a8: #3094feb9;
  --tw-gradient-to-position: 100%;
  --amber-a3: #fa820022;
  --default-transition-duration: .15s;
  --mauve-a12: #fdfdffef;
  --violet-a4: #7d51fd50;
  --gray-10: #878d8f;
  --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  --violet-a10: #9176fed7;
  --container-xs: 20rem;
  --cyan-a10: #28d6ffcd;
  --sand-a1: #0000;
  --sand-a11: #fffcf4b0;
  --amber-a2: #fd9b000d;
  --green-a5: #2bffa23c;
  --gray-11: #a1a4a5;
  --animate-open-scale-in-fade: open-scale-in-fade .2s ease-in-out;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --violet-a8: #977dfea8;
  --blue-a10: #3b9eff;
  --blue-a4: #0075ff57;
  --slate-a1: #0000;
  --slate-a4: #d3edf81d;
  --mauve-a10: #ece9fd7c;
  --green-a6: #44ffaa4b;
  --background: #000;
  --tw-translate-z: 0;
  --mauve-a9: #eae6fd6e;
  --tw-gradient-via: rgba(0, 0, 0, 0);
  --tw-scale-y: 1;
  --mauve-a7: #eee9ff40;
  --gray-12: #f0f0f0;
  --red-a2: #f22f3e11;
  --container-6xl: 72rem;
  --breakpoint-lg: 64rem;
  --container-3xl: 48rem;
  --slate-a12: #fcfdffef;
  --blur-xs: 4px;
  --tw-translate-y: 0;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --gray-5: #333b3e;
  --slate-a7: #d9edff40;
  --canvas: #14151799;
  --tw-content: "";
  --green-a8: #54ffad73;
  --animate-close-scale-out-fade: close-scale-out-fade .2s ease-in-out;
  --amber-a6: #fd9b0051;
  --animate-close-slide-up-fade: close-slide-up-fade .2s;
  --orange-a6: #fd75045c;
  --sand-a3: #f6f6f513;
  --amber-a11: #ffca16;
  --sand-a12: #fffffded;
  --tw-translate-x: 0;
  --sand-a9: #fffae965;
  --red-a6: #ff3e5668;
  --cyan-a5: #00befd4d;
  --container-3xs: 16rem;
  --mauve-a2: #f5f4f609;
  --animate-open-slide-down-fade: open-slide-down-fade .2s;
  --canvas-grid: #191b1e;
  --animate-open-scale-up-fade: open-scale-up-fade .2s ease-in-out;
  --animate-shine: shine 1s ease .8s;
  --blue-a7: #2a91fe98;
  --container-xl: 36rem;
  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
  --rainbow-cyan: #00d1c670;
  --gray-9: #6e7679;
  --gray-a3: #b0c7d925;
  --orange-a10: #ff801f;
  --green-a4: #11ff992d;
  --mauve-a8: #eee7ff5d;
  --animate-plop3: plop 1s ease-in-out .4s infinite;
  --mauve-a1: #0000;
  --slate-a6: #d6ebfd30;
  --gray-7: #434a4d;
  --blue-a2: #1166fb18;
  --gray-a11: #fdfeffa6;
  --violet-a11: #baa7ff;
  --gray-4: #293034;
  --orange-a8: #fe84389d;
  --animate-plop2: plop 1s ease-in-out .2s infinite;
  --green-a12: #bbffd7f0;
  --gray-2: #191b1e;
  --violet-a5: #845ffd5f;
  --angle: 0deg;
  --red-a10: #ff6465eb;
  --gray-3: #212629;
  --orange-a3: #fb6a0025;
  --slate-a2: #d8f4f609;
  --gray-a4: #caecff33;
  --red-a5: #ff204756;
  --blur-xl: 24px;
  --violet-a7: #9879ff83;
  --tw-divide-x-reverse: 0;
  --violet-a2: #853ff916;
  --mauve-a3: #ebeaf814;
  --blur-3xl: 64px;
  --sand-a5: #fbfbeb23;
  --orange-a9: #fe6d15f7;
  --tw-scale-z: 1;
  --mauve-a5: #efe6fe25;
  --gray-a12: #fdfdfded;
  --container-sm: 24rem;
  --rainbow-amber: #e9ac4870;
  --amber-a9: #ffc53d;
  --green-a1: #00de4505;
  --red-a12: #ffd1d9;
  --tw-scroll-snap-strictness: proximity;
  --container-lg: 32rem;
  --red-a3: #ff173f2d;
  --green-a10: #43fea4ab;
  --orange-a12: #ffe0c2;
  --blue-a3: #0077ff3a;
  --gray-6: #3b4345;
  --cyan-a2: #02a7f211;
  --mauve-a6: #f1e6fd30;
  --highlight-shine: #fff9;
  --red-a8: #ff5d61b0;
  --gray-a7: #e2f5fe4d;
  --orange-a4: #ff590039;
  --tw-gradient-from-position: 0%;
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --sand-a7: #fffbed3c;
  --amber-a4: #fc820032;
  --cyan-a12: #bbf3fef7;
  --violet-a9: #8668ffcc;
  --amber-a10: #ffd60a;
  --animate-scroll-x: scroll-x 180s linear infinite;
  --gray-8: #52595b;
  --mauve-a11: #f5f1ffb7;
  --cyan-a3: #00befd28;
  --gray-1: #141517;
  --violet-a1: #4422ff0f;
  --gray-a1: #16171aeb;
  --orange-a7: #ff832c75;
  --blue-a11: #70b8ff;
  --container-5xl: 64rem;
  --gray-a8: #d8eaf161;
  --blue-a9: #0090ff;
  --sand-a8: #fff9eb57;
  --green-a3: #22ff991e;
  --red-a1: #f4121209;
  --green-a7: #50fdac5e;
  --orange-a5: #ff61004a;
  --animate-plop: plop 1s ease-in-out .1s infinite;
  --blur-md: 12px;
  --red-a11: #ff9592;
  --animate-spin: spin 1s linear infinite;
  --container-4xl: 56rem;
  --animate-fade-in: fade-in .2s ease;
  --amber-a7: #ffab2567;
  --amber-a5: #fd8b0041;
  --tw-divide-y-reverse: 0;
  --cyan-a8: #11cfff95;
  --blue-a5: #0081fd6b;
  --container-2xl: 42rem;
  --animate-open-slide-up-fade: open-slide-up-fade .2s;
  --slate-a5: #d9edfe25;
  --blue-a1: #004df211;
  --blue-a6: #0f89fd7f;
  --gray-a6: #d7eff847;
  --green-a2: #29f99d0b;
  --tw-scale-x: 1;
  --cyan-a6: #00c7fd5e;
  --cyan-a1: #0091f70a;
  --mauve-a4: #eee5f81d;
  --animate-scroll-broadcast-x: scroll-x 48s linear infinite;
  --animate-close-slide-down-fade: close-slide-down-fade .2s;
  --sand-a2: #f4f4f309;
  --gray-a10: #e8f4f880;
  --amber-a1: #e63c0006;
  --sand-a10: #fffdee73;
  --sand-a4: #fefef31b;
  --container-7xl: 80rem;
  --blur-sm: 8px;
  --slate-a8: #d9edff5d;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}