/* shadcn/ui Theme — extracted from https://resend.com */
/* Paste into your globals.css */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 208 91% 92%;
    --primary-foreground: 0 0% 0%;
    --secondary: 202 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 151 100% 63%;
    --accent-foreground: 0 0% 0%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 94%;
    --border: 206 5% 29%;
    --radius: 8px;
  }
}
