:root {
  /* Colors — Primary */
  --color-primary: #0000ee;
  --color-secondary: #0099ff;
  --color-accent: #d6ecfe;

  /* Colors — Neutrals */
  --color-neutral-50: #000000;
  --color-neutral-100: #242424;
  --color-neutral-200: #898989;
  --color-neutral-300: #e5e7eb;
  --color-neutral-400: #ffffff;
  --color-neutral-500: #111111;
  --color-neutral-600: #f4f4f4;
  --color-neutral-700: #374151;
  --color-neutral-800: #d3d3d3;
  --color-neutral-900: #808080;

  /* Colors — Backgrounds */
  --color-bg: #f4f4f4;
  --color-bg-1: #ffffff;
  --color-bg-2: #f8f9fa;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;
  --color-text-2: #0000ee;
  --color-text-3: #292929;
  --color-text-4: #111111;

  /* Typography — Families */
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Cal Sans UI Variable Light', sans-serif;
  --font-body: 'Times', sans-serif;
  --font-font-3: 'Cal Sans', sans-serif;
  --font-body: 'Matter Regular', sans-serif;
  --font-body: 'Matter Medium', sans-serif;
  --font-heading: 'Matter SemiBold', sans-serif;
  --font-body: 'Roboto Mono', sans-serif;
  --font-body: 'CUSTOMV2;Cal Sans UI Regular', sans-serif;

  /* Typography — Scale */
  --font-size-64: 64px;
  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;
  --font-size-9.71: 9.71px;
  --font-size-8: 8px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-80: 80px;
  --spacing-96: 96px;

  /* Border Radius */
  --radius-xs: 2px;
  --radius-md: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-full: 29px;
  --radius-full: 40px;
  --radius-full: 100px;
  --radius-full: 120px;
  --radius-full: 1000px;
  --radius-full: 1250px;
  --radius-full: 9999px;

  /* Box Shadows */
  --shadow-xs: rgba(255, 255, 255, 0.15) 0px 2px 0px 0px inset;
  --shadow-xs: rgb(255, 255, 255) 0px 2px 0px 0px inset;
  --shadow-xs: rgba(0, 0, 0, 0.1) 0px 0.693878px 2.08163px 0px, rgba(0, 0, 0, 0.06) 0px 0px 1.38776px 0px;
  --shadow-xs: rgba(0, 0, 0, 0.16) 0px 1px 1.9px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 1px 3px 0px, rgba(0, 0, 0, 0) 0px 0px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 0px 2px 0px;
  --shadow-sm: rgba(36, 36, 36, 0.7) 0px 1px 5px -4px, rgba(36, 36, 36, 0.05) 0px 4px 8px 0px;
  --shadow-sm: rgba(19, 19, 22, 0.7) 0px 1px 5px -4px, rgba(34, 42, 53, 0.1) 0px 0px 0px 1px, rgba(34, 42, 53, 0.05) 0px 4px 8px 0px;
  --shadow-sm: rgba(19, 19, 22, 0.7) 0px 1px 5px -4px, rgba(34, 42, 53, 0.08) 0px 0px 0px 1px, rgba(34, 42, 53, 0.05) 0px 4px 8px 0px;
  --shadow-md: rgba(34, 42, 53, 0.05) 0px 4px 8px 0px;
  --shadow-md: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;

  /* Original Site Variables */
  /* — colors — */
  --sj-tw-shadow-colored: 0 0 #0000;
  --sj-tw-border-spacing-x: 0;
  --sj-tw-ring-inset: ;
  --sj-tw-ring-color: rgba(59,130,246,.5);
  --sj-tw-ring-shadow: 0 0 #0000;
  --sj-tw-ring-offset-shadow: 0 0 #0000;
  --sj-tw-ring-offset-width: 0px;
  --sj-tw-ring-offset-color: #fff;
  --sj-tw-border-spacing-y: 0;
  /* — spacing — */
  --sj-tw-numeric-spacing: ;
  --sj-tw-contain-size: ;
  /* — shadows — */
  --sj-tw-shadow: 0 0 #0000;
  --sj-tw-drop-shadow: ;
  /* — other — */
  --sj-tw-backdrop-brightness: ;
  --sj-tw-numeric-figure: ;
  --sj-tw-contain-paint: ;
  --sj-tw-scale-x: 1;
  --sj-tw-numeric-fraction: ;
  --sj-tw-backdrop-grayscale: ;
  --sj-tw-translate-x: 0;
  --sj-tw-hue-rotate: ;
  --sj-tw-blur: ;
  --sj-tw-saturate: ;
  --sj-tw-backdrop-sepia: ;
  --sj-tw-gradient-via-position: ;
  --sj-tw-rotate: 0;
  --sj-tw-contain-style: ;
  --sj-tw-scroll-snap-strictness: proximity;
  --sj-tw-ordinal: ;
  --sj-tw-slashed-zero: ;
  --sj-tw-pan-x: ;
  --sj-tw-contrast: ;
  --sj-tw-sepia: ;
  --sj-tw-backdrop-invert: ;
  --sj-tw-pan-y: ;
  --sj-tw-scale-y: 1;
  --sj-tw-contain-layout: ;
  --sj-tw-backdrop-hue-rotate: ;
  --sj-tw-backdrop-opacity: ;
  --sj-tw-backdrop-contrast: ;
  --sj-tw-translate-y: 0;
  --sj-tw-backdrop-saturate: ;
  --one-if-corner-shape-supported: 1;
  --sj-tw-brightness: ;
  --sj-tw-invert: ;
  --sj-tw-pinch-zoom: ;
  --sj-tw-skew-y: 0;
  --sj-tw-skew-x: 0;
  --sj-tw-backdrop-blur: ;
  --sj-tw-gradient-from-position: ;
  --sj-tw-gradient-to-position: ;
  --sj-tw-grayscale: ;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}